BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 12px
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 12px
}
TH {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: #333333; FONT-SIZE: 12px
}
BODY {
	MARGIN: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: url(bg.jpg) repeat-x center top
}
.left_bg {
	BACKGROUND: url(09.jpg) no-repeat
}
.table {
	BORDER-LEFT: #fff 10px solid; BACKGROUND-COLOR: #ffffff; BORDER-RIGHT: #fff 10px solid
}
#phone {
	PADDING-BOTTOM: 0px; MARGIN: 22px 0px 0px 35px; PADDING-LEFT: 16px; PADDING-RIGHT: 0px; BACKGROUND: url(01.jpg) no-repeat left 50%; PADDING-TOP: 1px
}
.line {
	
}
.line TD {
	BORDER-BOTTOM: #d7deee 1px solid; PADDING-TOP: 3px
}
A:link {
	COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333333; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.nav:link {
	COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.nav:visited {
	COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.nav:hover {
	COLOR: #fff; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.en_nav:link {
	COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.en_nav:visited {
	COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.en_nav:hover {
	COLOR: #fff; FONT-SIZE: 13px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A.sec_lm:link {
	COLOR: #00447d; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.sec_lm:visited {
	COLOR: #00447d; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A.sec_lm:hover {
	COLOR: #5aa800; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.border {
	BORDER-BOTTOM: #ededed 5px solid; BORDER-LEFT: #ededed 5px solid; BORDER-TOP: #ededed 5px solid; BORDER-RIGHT: #ededed 5px solid
}
.lm_title {
	COLOR: #003280; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.lm_down {
	COLOR: #029b36; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.location {
	COLOR: #ff3300
}
