


<TABLE class=table border=0 cellSpacing=0 cellPadding=0 width=960 
  align=center>
  <TBODY>
    <TR>
      <TD width=360><IMG alt="<{$v_siteName}>" src="/images/logo.gif" width=354 
      height=83></TD>
      <TD width=374><DIV id=phone>全国7X24小时客服热线：<STRONG><{$v_sitePhone}></STRONG></DIV></TD>
      <TD style="PADDING-TOP: 25px" width=373><TABLE border=0 cellSpacing=0 cellPadding=0 width=325 align=right>
          <TBODY>
            <TR>
              <TD height=21 width=16><IMG src="/images/15.jpg" width=16 
            height=13></TD>
              <TD style="PADDING-TOP: 3px" width=70><A 
            onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('<{$v_siteURL}>');" 
            href="/">设为首页</A></TD>
              <TD width=16><IMG src="/images/16.jpg" width=16 height=13></TD>
              <TD style="PADDING-TOP: 3px" width=70><A 
            href="javascript:window.external.AddFavorite('<{$v_siteURL}>', '<{$v_siteName}>')" 
            target=_self>加入收藏</A></TD>
              <TD width=16><IMG src="/images/18.jpg" width=16 height=13></TD>
              <TD style="PADDING-TOP: 3px" width=51><A 
            href="/aboutus/contact.html">联系方式</A></TD>
            </TR>
          </TBODY>
        </TABLE></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE style="BACKGROUND: url(/images/03.jpg) no-repeat" border=0 cellSpacing=0 
cellPadding=0 width=960 align=center height=35>
  <TBODY>
    <TR align=center>

      <TD width=85><A class=nav 
      href="/">首页</A></TD>
      <TD width=105><A class=nav 
      href="/aboutus/company.html">公司简介</A></TD>
      <TD width=111><A class=nav 
      href="/aboutus/zizhi.html">企业资质</A></TD>
      <TD width=106><A class=nav 
      href="/category.php?&id=1">企业动态</A></TD>
      <TD width=108><A class=nav 
      href="/category.php?&id=2">产品展示</A></TD>
      <TD width=109><A class=nav 
      href="/category.php?&id=3">资料下载</A></TD>
      <TD width=110><A class=nav 
      href="/aboutus/sale.html">销售网络</A></TD>
      <TD width=113><A class=nav 
      href="/aboutus/service.html">客户服务</A></TD>
      <TD width=113><A class=nav 
      href="/aboutus/hr.html">人才招聘</A></TD>
    </TR>
  </TBODY>
</TABLE>
<TABLE style="BORDER-BOTTOM: #fff 10px solid; BORDER-TOP: #fff 5px solid" 
border=0 cellSpacing=0 cellPadding=0 width=960 align=center>
  <TBODY>
    <TR>
      <TD><img src="/images/pic.jpg" width=960 height=219></TD>
    </TR>
  </TBODY>
</TABLE>